### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/build/
/src/Pertemuan8/MembershipORM/MembershipORM/build/
/Praktikum_pemrograman2/nbproject/private/
/Praktikum_pemrograman2/build/
/src/Pertemuan11/JavaApplication4/nbproject/private/
/src/Pertemuan11/jfc-mvc/nbproject/private/
/src/Pertemuan11/ManajemenBuku/JavaApplication5/nbproject/private/
/src/Pertemuan11/ManajemenBuku/ManajemenBuku/nbproject/private/
/src/Pertemuan11/ManajemenBuku/JavaApplication6/nbproject/private/
/src/Pertemuan11/ManajemenBuku/JavaApplication6/build/
/src/Pertemuan12/jfc-mvc/nbproject/private/
/src/Pertemuan12/jfc-mvc/build/
